@model IEnumerable<Wcjj.Net.Bugz.Data.Bug>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.AppId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BugId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BugId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
